.git-search-container {
  background: #e6f7ff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 1251px;
  margin-top: 54px;
  margin-left: 90px;
  margin-right: 99px;

  border: 1px solid blue;
}

.git-search-container h1 {
  color: #262626;
  font-weight: bold;
  text-align: left;
  width: 502px;
  left: 31px;
  margin: 60px 0;
  border: 1px solid red;
}

.search-input {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  width: 285px;
  height: 40px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 16px;
  border: 1px solid green;
}

.search-button {
  background: #1890ff;
  color: #fff;
  margin-bottom: 35px;
  height: 40px;
  width: 101px;
  border: 1px solid black;
}

.info-container {
  border: 1px solid blue;
  margin-top: 54px;
  margin-left: 90px;
  margin-right: 35px;
  border-radius: 8px;
  width: 1251px;
  height: 334px;
  left: 0px;
  top: 0px;
  background: #f5f5f5;
}

.description-container{
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 6px;
}

@media (min-width: 576px) {
  .search-input {
    width: 480px; 
  }
}
